<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Digital Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard/workout">Workout Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/diet">Diet Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/performance">Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/profile">Profile</a>
        </li>
      </ul>
      <span class="navbar-text">
        Logged in as {{this.userService.firstName}} {{this.userService.lastName}}
      </span>
      <button type="button" (click)="navLogout()" class="btn btn-danger ml-3">Logout</button>
    </div>
  </nav>


  <div class="container mt-4">
      <h2>Workout</h2>
      <p>Let's do the workout together!</p>
      <form>
        <div class="form-group">
          <label for="sel1">Select the exercise:</label>
          <select [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedValueExercise" (ngModelChange)="console.log($event)" class="form-control" id="sel1">
            <option [value]="0">Cardio</option>
            <option [value]="1">Weight</option>
            <option [value]="2">Dance aerobic</option>
            <option [value]="3">Custom</option>
          </select>

          <label *ngIf="this.selectedValueExercise!=3" for="sel2">Select Type:</label>
          <select *ngIf="this.selectedValueExercise!=3" class="form-control" id="sel2" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.selectedValueType">
              <option *ngFor="let option of getOptions(); let i = index" [value]="i">
                  {{option}}
                  </option>
          </select>

          <label *ngIf="this.selectedValueExercise==3" for="inp">Custom:</label>
          <input *ngIf="this.selectedValueExercise==3" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.customType" type="text" placeholder="exercise" class="form-control">
          <br>
        </div>
      </form>

      <p>Questions:</p>
      <label class="checkbox-inline"><input class="mr-2" [(ngModel)]="this.warmup" type="checkbox" value="">Did you warm up?</label>
      <label class="checkbox-inline ml-4"><input class="mr-2" [(ngModel)]="this.stretched" type="checkbox" value="">Did you stretch?</label>
      <label class="checkbox-inline ml-4"><input class="mr-2" [(ngModel)]="this.achieved" type="checkbox" value="">Did you achieve your goal?</label> 

      <button type="button" (click)="addWorkout()" class="btn btn-success ml-3">Submit</button>


      <h5 class="pt-4">History</h5>
      <table class="table mt-2">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Category</th>
              <th scope="col">Type</th>
              <th scope="col">Warmed up</th>
              <th scope="col">Stretched</th>
              <th scope="col">Achieved Goal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let workout of workouts;">
              <th scope="row">{{workout.date}}</th>
              <td>{{workout.category}}</td>
              <td>{{workout.type}}</td>
              <td><input type="checkbox" [disabled]="true" [checked]="workout.warmedup"></td>
              <td><input type="checkbox" [disabled]="true" [checked]="workout.stretched"></td>
              <td><input type="checkbox" [disabled]="true" [checked]="workout.achieved"></td>
              <td><button class="btn btn-sm btn-danger" type="button" (click)="this.removeWorkout(workout._id)">Remove</button></td>
            </tr>
          </tbody>
        </table>
    </div>

   
